/* Global Settings */
:root {
    /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-dark-blue: #437299;
  --color-baby-blue: #89CFF0;
  --color-light-blue: #ADD8E6;
  --color-purple: #800080;
  --color-dark-purple: #4B0082;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radious: 4px;

  /* Animation */
  --animation--time: 300ms;
}

/* Universal Tags */
* {
    box-sizing: border-box;
}

/* 선택자 Settings */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

a {
    text-decoration: none; 
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    /* transparent: 투명한 */
    cursor: pointer;
    border: none;
    outline: none;
}

/* NavBar */

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* space-between: 왼쪽과 오른쪽은 딱 붙이고 나머지만 공간을줌 */
    background-color: var(--color-dark-purple);
    align-items: center;
    color: transparent;
    padding: 16px;
    z-index: 1;
    transition: all var(--animation--time) ease-in-out;
}

#navbar.navbar--dark {
    background-color: var(--color-purple);
    /* background-color: transparent; */
    padding: 8px;
}

/* #navbar.navbar--dark li{
    color: var(--color-black);
} */

.navbar__toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

.navbar__menu {
    display: flex;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold );
}

.navbar__menu__item {
    color: var(--color-light-white);
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radious);
}

.navbar__menu__item.active {
    border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
    background-color: var(--color-blue);
}

#home {
    background: url('imgs/bgimg.png') center/cover no-repeat;
    padding: 40px;
    padding-top: 120px;
    text-align: center;
}

.home__avata {
    width: 330px;
    height: 400px;
    border-radius: 20%;
    border: 2px solid var(--color-dark-grey);
}

.home__code,
.home__discription {
    color: var(--color-yellow);
}

.home__contact {
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-yellow);
    color: var(--color-white);
    border-radius: var(--size-border-radious);
}

/* maximum-size: 1200px is reguler */
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__option {
    max-width: 1200px;
    margin: auto;
}

.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    text-align:center;
    color: var(--color-dark-blue);
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    font-size: 70px;
    margin: auto;
    margin-bottom: 15px;
}

.major__title,
.major__discription {
    color: var(--color-dark-grey);
}

.major__icon:hover i {
    color: var(--color-purple);
    transform: scale(1.2);
}

.major__icon i {
    transition: all var(--animation--time) ease;
}

.major__discription {
    font-size: var(--font-small);
}

.license__all {
    display: flex;
    justify-content: space-between;
}

.license__option {
    display: flex;
    align-items: center;
}

.license__info {
    margin: 10px 20px;
    text-align: left;
}

.license__logo {
    width: 100px;
}

.license__name, .license__period {
    color: var(--color-light-grey);
}

#skills {
    background-color: var(--color-light-blue);
}

.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
}

.skill {
    margin-bottom: 32px;
}

.skillset__title {
    color: var(--color-white);
}

.skillset__left {
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}

.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.skill__value {
    /* width: 60%; */
    height: 3px;
    background-color: var(--color-orange);
}

.skill__discription {
    display: flex;
    justify-content: space-between;
}

.skillset__right {
    flex-basis: 40%;
}

.tools {
    background-color: var(--color-grey);
}

.tools, .etc {
    padding: 20px;
}

.work__categories {
    margin: 40px;
}

.category__btn {
    border: 1px solid var(--color-dark-grey);
    border-radius: var(--size-border-radious);
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
    background-color: var(--color-light-blue);
    color: var(--color-white);
}

.category__count {
    display: inline-block;
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    line-height: 25px;
    width: 25px;
    height: 25px;
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    position: relative;
    width: 280px;
    height: 300px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-white);
}

.project.invisible  {
    display: none; 
}

.project__img {
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%; 
    transform: translateY(10px);
    transition: all var(--animation--time) ease-in;
    background-color: var(--color-black);
}

.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0);
}

.project__description h3 {
    color: var(--color-white);
}

.project__description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    margin-left: -12px;
    margin-top: 8px;
    width: 25px;
    height: 2px;
    background-color: var(--color-dark-white);
}

#contact {
    background-color: var(--color-dark-grey);
}

.contact__title, .contact__email {
    color: var(--color-white);
}

.contact__title {
    margin: 32px 0;
}

.contact__links {
    font-size: var(--font-large);
    margin: 24px 0;
    transition: all var(--animation--time) ease-in;
}

.contact__links i:hover {
    transform: scale(1.1);
    color: var(--color-yellow);
}

/* responsive Options */
/* max: 768px */
@media screen and (max-width: 768px){
    
    .navbar__toggle-btn {
        display: block;

    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar__menu.active {
        display: flex;
    }

    .navbar__menu__item {
        width: 100%;
        text-align: center;
    }

    .about__majors {
        margin-bottom: 38px;
    }

    .license__all {
        flex-direction: column;
    }

    .skillset {
        flex-direction: column;
    }

    .project {
        flex-grow: 1;
    }
}